/* ==========================================
   NETVault Global Styles
   Built for NUST. Nothing Else.
========================================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg: #050816;
  --bg-secondary: #0b1120;

  --primary: #2563eb;
  --primary-light: #60a5fa;

  --text: #ffffff;
  --text-secondary: #cbd5e1;

  --card: rgba(255,255,255,.05);

  --border: rgba(255,255,255,.08);

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--bg);

    color:var(--text);

    font-family:"Poppins",sans-serif;

    overflow-x:hidden;

    min-height:100vh;

}

button{

    font-family:inherit;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    max-width:100%;

    display:block;

}

::selection{

    background:#2563eb;

    color:white;

}

/* Scrollbar */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#08111f;

}

::-webkit-scrollbar-thumb{

    background:#2563eb;

    border-radius:100px;

}

::-webkit-scrollbar-thumb:hover{

    background:#3b82f6;

}
